.particle {
	position: relative;
}

@media (min-width: 0px) {
	.particle {
		left: 17.2rem;
		top: -4.3rem;
		width: 55rem;
	}
}

@media (min-width: 640px) {
	.particle {
		left: 25rem;
		top: -1.4rem;
		width: 80rem;
		height: 80rem;
	}
}
@media (min-width: 768px) {
	.particle {
		left: 34.5rem;
		top: -2rem;
		width: 110rem;
		height: 110rem;
	}
}
@media (min-width: 1024px) {
	.particle {
		left: 53rem;
		top: -3rem;
		width: 170rem;
		height: 170rem;
	}
}
